/*darkmode*/
.dark
  background #202124

  /* header */
  #header-inner
    background: none repeat scroll 0 0 #171717;
  #banner
    background: #171717
  #header-outer
    background-color: #171717
  #header-title  
    #title
      color: #fff
  #subtitle
    color: color-grey
  #description
    color: color-grey
  #title-nav
    img
      box-shadow: 0 0 2px #171717;

  .outer
    background-color: #202124
  .nav-icon
    color: #a9a9b3
  .site-nav
    background: none repeat scroll 0 0 #202124;
    border-bottom: 1px solid #292a2d;
    border-right: 1px solid #292a2d;
  #nav-dark-btn
    &:before
      content: "\f204"

  /* body */
  .article-title
    color: #a9a9b3
  .article-date
    color: color-grey
    text-shadow: 0 1px #171717
  .article-inner
    background-color: #202124

  #wrap
    background-color: #202124
  
  /* Figure brightness */
  img  
    filter brightness(66%) // 

  p
  .index-info a  
    color #a09c9c !important

  .markdown-body
    h1,h2,h3,h4,h5,h6,s,li  
      color:#a09c9c !important
  #footer
    background: #171717
    .outer
      background: #171717
  #footer-info
    background: #171717
  
  /* search results */
  .st-ui-injected-overlay-container
    background-color: #202124
    .st-ui-footer
      background: #171717
    .st-ui-header
      background: #e5e5e5
    .st-ui-content
      .st-ui-fallback
        background: #202124


